* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  min-height: 100vh;
}

.left-column {
  padding: 20px;
  max-width: 40%;
  background-color: rgba(99, 125, 140, 0.13);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.left-column .header {
  display: flex;
}

.left-column .header img {
  border-right: 1px solid #ccc;
  padding-right: 40px;
}

.left-column .header p {
  padding-left: 40px;
}

.automata-doc {
  margin-top: 40px;
  padding: 58px 0 77px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
}

input#docpicker {
  display: none;
}

.automata-doc .docpicker-label {
  border-radius: 20px;
  padding: 5px 10px;
  text-align: center;
  font-size: 20px;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 70%;
  margin: 20px auto;
}

.automata-doc .docpicker-label:hover {
  border-radius: 20px;
  padding: 5px 10px;
  text-align: center;
  font-size: 20px;
  background-color: #99b5d7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.automata-doc .automata-btn {
  padding: 20px 0;
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
}

.automata-doc .automata-btn label {
  background-color: #f5f5f5;
  padding: 10px 20px;
  border-radius: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.automata-doc .automata-btn label:hover {
  background-color: rgba(147, 197, 245, 0.25);
}

.automata-doc .automata-btn .btn-clicked {
  background-color: rgba(147, 197, 245, 0.25);
}

.automata-doc .automata-btn label {
  cursor: pointer;
}

.automata-doc .automata-btn input[type="radio"] {
  display: none;
}

.automata-doc .automata-btn button {
  background-color: #f5f5f5;
  border-radius: 40px;
  border: 0;
  padding: 12px 22px;
  text-align: center;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.automata-doc .automata-btn:first-child {
  margin-right: 15px;
}

.automata-doc .submit-automata-btn {
  background-color: #f3d3ce;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 5px 10px;
  text-align: center;
  width: 154px;
  margin: 0 auto;
  text-transform: uppercase;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.automata-doc .submit-automata-btn:hover {
  background-color: #ebb3a9;
}

.automata-doc .error-warning {
  margin: 0 auto;
  color: rgb(197, 16, 16);
  margin-top: 10px; 

}

.automata-doc .error-warning.hidden {
  visibility: hidden;
  height: 1px;
}

.automata-wording {
  padding-top: 78px;
  text-align: center;
}

.automata-wording input#automata-word {
  margin-bottom: 90px;
  border-radius: 20px;
  border: 0;
  padding: 5px 10px;
  text-align: center;
  font-size: 20px;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.automata-wording input#automata-word:focus-visible {
  outline: 0;
}
.automata-wording .automata-response {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  margin: 40px auto 0;
  width: 200px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  cursor: not-allowed;
}

.automata-wording .automata-response.accepts-lfa {
  background-color: #9de48b;
  border: 0;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.automata-wording .automata-response.rejects-lfa {
  background-color: #fd7a72;
  border: 0;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.automata-wording .automata-response.rejects-lfa:hover {
  background-color: #e54a38;
}

.right-column {
  width: 60%;
  padding: 60px 100px 50px;
  margin: 0 auto;
}

.right-column .automata-tupla .automata-tupla-box,
.right-column .automata-graph .automata-graph-box {
  background-color: #f5f5f5;
  border-radius: 5px;
  width: 60%;
  height: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin: 13px 0 34px;
}

.right-column .automata-graph .automata-graph-box {
  height: auto;
}

.right-column .credits {
  position: absolute;
  bottom: 0;
  height: 40px;
  margin-top: 40px;
  font-size: 12px;
}

/*START SPINNER CSS*/
.lds-roller {
  visibility: hidden;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 30;
  align-items: center;
  justify-content: center;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*END SPINNER CSS*/

@media only screen and (max-width: 767px) {
  .container {
    flex-direction: column;
  }
  .left-column {
    max-width: unset;
    padding-bottom: 40px;
    margin-bottom: 20px;
  }

  .automata-doc {
    margin-top: 0;
    padding: 30px 0;
  }

  .automata-wording {
    padding-top: 40px;
  }
  .automata-wording input#automata-word {
    margin-bottom: 50px;
  }
  .right-column {
    width: unset;
    padding: 20px;
    margin: unset;
  }
  .right-column .credits {
    bottom: unset;
  }
}
